body
            {
                background-image: url("images/cq5dam.web.512.341.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                padding: 0px;
                margin: 0px;
            }
            .container
            {
                padding-left: 450px;
                padding-top: 100px;
                
            }
            .header
            {
                color: #6fc1a5;
            }
            table
            {
                margin-left:  25px;
            }
            .h1
            {
                color: #6fc1a5;
                text-align: center;
            }
            #lab,#labid,#labpass
            {
                padding: 2px;
                color: #ef4339;
            }
            .button
            {
                width: 90px;
                cursor: pointer;
                margin-left:80px;
                margin-top:20px; 
            }
            .signup
            {
                width: 90px;
                color: white;
                cursor: pointer;
                margin-left:100px;
                margin-top:20px; 
            }
            
            input
            {
                border-bottom-color: #88c0ad80;
            }
            .navbar1
            {
                margin: 0px;
                background-color: #393e46;
                padding-left: 50px;
                height: 50px;
                
            }
            .gradience
            {
                float: left;
                font-size: 30px;
                font-family: monospace;
                color:#6fc1a5;
                margin-top:10px;
                overflow: hidden;
                width: 50%;
                
            }
            .list1
            {
                list-style: none;
                float: right;
                font-size: 25px;
                padding: 0px;
                margin: 0px;
            }
            .list1 li 
            {
               padding-top: 10px ;
               padding-right: 30px;
            }
            .list1 li a
            {
                text-decoration: none;
                color: #6fc1a5;
            }
            .clear
            {
                clear: both;
            }
            .footer
            {
                margin-top: auto;
                background-color: #393e46;
                height: 80px;
                position: fixed;
                width: 100%;
                left: 0;
                bottom: 0;
                
            }